<!DOCTYPE html>
<html>
<head>
  <title>Student List</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/react-table@latest/react-table.css"
  />
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
